<!DOCTYPE html>
<html lang="en">
  <head>

      <!-- jQuery and Bootstrap -->
      <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.js"></script>
      <!-- Angular main and route CDN -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-route.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js"></script>
      <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
      <script type="text/javascript" src="scripts/app.js"></script>
      <script type="text/javascript" src="scripts/goalsCtrl.js"></script>
      <script type="text/javascript" src="scripts/chartCtrl.js"></script>

    <link rel="shortcut icon" href="public/assets/ico/favicon.png">

    <title> forge - Make Yourself</title>

    <!-- Bootstrap core CSS -->
    <link href="public/assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles  ----------->
    <link href="public/assets/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="public/assets/css/icomoon.css">
    <link href="public/assets/css/animate-custom.css" rel="stylesheet">



    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <script src="public/assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="public/assets/js/modernizr.custom.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="public/assets/js/html5shiv.js"></script>
      <script src="public/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#navbar-main" ng-controller="userController as uCtrl">


  	<div id="navbar-main">
      <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span>
                <img src="public/assets/img/logoGrey.png" class="iconSmall"></span>
          </button>

        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li><div href="#home" class="smoothScroll">
                  <img src="public/assets/img/logoGrey.png" class="iconNav">
              </div></li>
            <li><a href="#home" class="smoothScroll">Home</a></li>
			<li> <a href="#goals" class="smoothScroll"> Goals</a></li>
			<li> <a href="#habits" class="smoothScroll"> Habits</a></li>
			<li> <a href="#lists" class="smoothScroll"> Lists</a></li>
			<li> <a href="#contact" class="smoothScroll"> Contact</a></li>
            <li>
                <a data-toggle="modal" href="#signupModal">Sign Up!
                    <span class="icon icon-signup"></span>
                </a>
            </li>
        </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    </div>
    <!-- =========================== HEADERWRAP ==================== -->
    <div id="headerwrap" id="home" name="home">
        <header class="clearfix">
            <h1><span>
                <img src="public/assets/img/logo.png" class="iconLarge">
            </span></h1>
            <p style="font-size: 6.25em; color: #ff6d00"><b>forge</b></p>
            <p style="font-size: 2.25em">Make Yourself</p>
        </header>
    </div><!-- /headerwrap -->

    <!-- ============ GREYWRAP ================================================ -->
    <div id="greywrap">
        <div class="row">
            <div class="col-lg-4 callout">
                <span class="icon icon-dumbbell"></span>
                <h2>Goal Progression</h2>
                <p style="text-align: left">List your physical fitness goals, whether strength training or speed (such as running or swimming). You can also list your financial goals, whether saving for retirement or that brand new car! Set your goal then track your progess.</p>
            </div><!-- col-lg-4 -->

            <div class="col-lg-4 callout">
                <span class="icon icon-calendar-2"></span>
                <h2>Habit Tracking</h2>
                <p style="text-align: left">Creating (and sticking to) good habits is crucial to success. Create the habits you want to apply in your life, then track your adherence. If you can stick with it for 30 days, you're more likely to have it be engrained for life.</p>
            </div><!-- col-lg-4 -->

            <div class="col-lg-4 callout">
                <span class="icon icon-checkbox-checked"></span>
                <h2>List Management </h2>
                <p style="text-align: left">Have you ever heard a book that would improve your life but you forgot to write it down? Now you can create lists of the books or articles that you want to read. Completely customizable!  </p>
            </div><!-- col-lg-4 -->
        </div><!-- row -->
    </div><!-- greywrap -->

    <!-- ==== SECTION DIVIDER1 -->
    <section class="section-divider textdivider divider1">
        <div class="container">
        </div><!-- container -->
    </section><!-- section -->


    <!-- ==== SERVICES ==== -->
    <div class="container" id="services" name="services">
        <br>
        <br>
        <div class="row">
            <h1 class="centered">You can't manage what you don't measure.</h1>
            <hr>
            <br>
            <div class="col-lg-offset-2 col-lg-8">
                <h4 class="centered">In order to achieve success, you need to set goals and measure your performance.
                </h4>
                <h4 class="centered">Forge allows you to track personal metrics to make yourself into the person you want to be.</h4>
                <h3 class="centered">Sign up today to start achieving what you know you're capable of.</h3>
            </div><!-- col-lg -->
        </div><!-- row -->
        <br>
        <br>
        <div class="row">
            <h2 class="centered">Mobile first thinking, always.</h2>
            <hr>

            <h4 class="centered">Reactive website is mobile friendly for easy tracking on-the-go!</h4>
            <br>
            <div class="col-lg-offset-2 col-lg-8">
                <img class="img-responsive" src="public/assets/img/iphone.png" alt="">
            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->


    <!-- ==== SECTION DIVIDER2 -->
    <section class="section-divider textdivider divider2">
        <div class="container">
            <h1 style="color: black">ACHIEVE YOUR GOALS</h1>
            <br>
            <p style="color: black">Use our app to kick ass every day!</p>
        </div><!-- container -->
    </section><!-- section -->

    <!-- ==== PORTFOLIO ==== -->
    <div class="container" id="portfolio" name="portfolio">
    <br>
        <div class="row">
            <br>
            <h1 class="centered">PERSONAL METRICS</h1>
            <hr>
            <br>
            <br>
        </div><!-- /row -->
        <div class="container">
        <div class="row">

            <!-- PORTFOLIO IMAGE 1 -->
            <div class="col-md-4 ">
                <div class="grid mask">
                    <figure>
                        <img class="img-responsive" src="public/assets/img/portfolio/folio01.jpg" alt="">
                        <figcaption>
                            <h5>DASHBOARD</h5>
                            <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
                        </figcaption><!-- /figcaption -->
                    </figure><!-- /figure -->
                </div><!-- /grid-mask -->
            </div><!-- /col -->


                     <!-- MODAL SHOW THE PORTFOLIO IMAGE. In this demo, all links point to this modal. You should create
                          a modal for each of your projects. -->

                      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                              <h4 class="modal-title">Project Title</h4>
                            </div>
                            <div class="modal-body">
                              <p><img class="img-responsive" src="public/assets/img/portfolio/folio01.jpg" alt=""></p>
                              <p>This project was crafted for Some Name corp. Detail here a little about your job requirements and the tools used. Tell about the challenges faced and what you and your team did to solve it.</p>
                              <p><b><a href="#">Visit Site</a></b></p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                      </div><!-- /.modal -->

<!-- ===========================Sign Up Modal start=================================== -->
                      <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header" style="background-color: #ff6d00">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                              <h4 class="modal-title">Sign Up</h4>
                            </div>
                            <div class="modal-body">
    <!-- ======================Sign Up Form start============================================== -->
                               <form ng-submit="uCtrl.makeAUser()">
                                   <input class="form-control" ng-model="uCtrl.newUser.name" placeholder="Name">
                                   <br>
                                   <input class="form-control" type="password" ng-model="uCtrl.newUser.password" placeholder="Password">
                                   <br>
                                   <input class="form-control" type="email" ng-model="uCtrl.newUser.email" placeholder="Email Address">
                                   <br>
                                   <input type="submit">
                               </form>
  <!-- ======================Sign Up Form end================================================= -->
                            </div>
                            <div class="modal-footer"></div>
                          </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                      </div><!-- /.modal -->
<!-- ===========================Sign Up Modal end=================================== -->


            <!-- PORTFOLIO IMAGE 2 -->
            <div class="col-md-4">
                <div class="grid mask">
                    <figure>
                        <img class="img-responsive" src="public/assets/img/portfolio/folio02.jpg" alt="">
                        <figcaption>
                            <h5>UI DESIGN</h5>
                            <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
                        </figcaption><!-- /figcaption -->
                    </figure><!-- /figure -->
                </div><!-- /grid-mask -->
            </div><!-- /col -->

            <!-- PORTFOLIO IMAGE 3 -->
            <div class="col-md-4">
                <div class="grid mask">
                    <figure>
                        <img class="img-responsive" src="public/assets/img/portfolio/folio03.jpg" alt="">
                        <figcaption>
                            <h5>ANDROID PAGE</h5>
                            <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
                        </figcaption><!-- /figcaption -->
                    </figure><!-- /figure -->
                </div><!-- /grid-mask -->
            </div><!-- /col -->
        </div><!-- /row -->

            <!-- PORTFOLIO IMAGE 4 -->
        <div class="row">
            <div class="col-md-4 ">
                <div class="grid mask">
                    <figure>
                        <img class="img-responsive" src="public/assets/img/portfolio/folio04.jpg" alt="">
                        <figcaption>
                            <h5>PROFILE</h5>
                            <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
                        </figcaption><!-- /figcaption -->
                    </figure><!-- /figure -->
                </div><!-- /grid-mask -->
            </div><!-- /col -->

            <!-- PORTFOLIO IMAGE 5 -->
            <div class="col-md-4">
                <div class="grid mask">
                    <figure>
                        <img class="img-responsive" src="public/assets/img/portfolio/folio05.jpg" alt="">
                        <figcaption>
                            <h5>TWITTER STATUS</h5>
                            <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
                        </figcaption><!-- /figcaption -->
                    </figure><!-- /figure -->
                </div><!-- /grid-mask -->
            </div><!-- /col -->

            <!-- PORTFOLIO IMAGE 6 -->
            <div class="col-md-4">
                <div class="grid mask">
                    <figure>
                        <img class="img-responsive" src="public/assets/img/portfolio/folio06.jpg" alt="">
                        <figcaption>
                            <h5>PHONE MOCKUP</h5>
                            <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
                        </figcaption><!-- /figcaption -->
                    </figure><!-- /figure -->
                </div><!-- /grid-mask -->
            </div><!-- /col -->
        </div><!-- /row -->
    </div><!-- /row -->
    </div><!-- /container -->


    <!-- ==== SECTION DIVIDER6 ==== -->
    <section class="section-divider textdivider divider6">
        <div class="container">
            <h1 style="color: #2e4868">CRAFTED IN BOULDER, CO.</h1>
            <hr>
            <p>3099 Fulton Cir</p>
            <p>Boulder, CO 80301</p>
            <p>(612) 555-5555</p>
        </div><!-- container -->
    </section><!-- section -->

    <div class="container" id="contact" name="contact">
        <div class="row">
        <br>
            <h1 class="centered">THANKS FOR VISITING US</h1>
            <hr>
            <br>
            <br>
            <div class="col-lg-4">
                <h3>Contact Information</h3>
                <p><span class="icon icon-home"></span> 3099 Fulton Cir, Boulder, CO<br/>
                    <span class="icon icon-phone"></span> 612 555 5555 <br/>
                    <span class="icon icon-mobile"></span> 612 555 5555 <br/>
                    <span class="icon icon-envelop"></span> <a href="#"> info@forge.com</a> <br/>
                    <span class="icon icon-twitter"></span> <a href="#"> @forge </a> <br/>
                    <span class="icon icon-facebook"></span> <a href="#"> forge </a> <br/>
                </p>
            </div><!-- col -->

            <div class="col-lg-4">
                <h3>Newsletter</h3>
                <p>Register to our newsletter and be updated with the latest information regarding our services, offers and much more.</p>
                <p>
                    <form class="form-horizontal" role="form">
                      <div class="form-group">
                        <label for="inputEmail1" class="col-lg-4 control-label"></label>
                        <div class="col-lg-10">
                          <input type="email" class="form-control" id="inputEmail1" placeholder="Email">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="text1" class="col-lg-4 control-label"></label>
                        <div class="col-lg-10">
                          <input type="text" class="form-control" id="text1" placeholder="Your Name">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-lg-10">
                          <button type="submit" class="btn btn-success">Sign in</button>
                        </div>
                      </div>
                   </form><!-- form -->
                </p>
            </div><!-- col -->

            <div class="col-lg-4">
                <h3>About Us</h3>
                <p>Forge is about making the world a better place through deep neural consumer-oriented data visualization. We firmly believe that we can only achieve greatness if first we achieve goodness.</p>
            </div><!-- col -->

        </div><!-- row -->

    </div><!-- container -->


		<div id="footerwrap">
			<div class="container">
			</div>
		</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


	<script type="text/javascript" src="public/assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="public/assets/js/retina.js"></script>
	<script type="text/javascript" src="public/assets/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="public/assets/js/smoothscroll.js"></script>
	<script type="text/javascript" src="public/assets/js/jquery-func.js"></script>
  </body>
</html>
