<!DOCTYPE html>
<html lang="en" ng-app="module.home">
  <head>

      <!-- jQuery and Bootstrap -->
      <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.js"></script>
      <!-- Angular main and route CDN -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-route.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js"></script>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="scripts/module.home.js"></script>

    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title> forge - Make Yourself</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles  ----------->
    <link href="assets/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/icomoon.css">
    <link href="assets/css/animate-custom.css" rel="stylesheet">
    <script src="assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="assets/js/modernizr.custom.js"></script>

  </head>

  <body data-spy="scroll" data-offset="0" data-target="#navbar-main">


  	<div id="navbar-main">
      <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span>
                <img src="assets/img/logoGrey.png" class="iconSmall"></span>
          </button>

        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li><div href="#home" class="smoothScroll">
                  <img src="assets/img/logoGrey.png" class="iconNav">
              </div></li>
            <li><a href="#home" class="smoothScroll">Home</a></li>
			<li> <a href="#contact" class="smoothScroll"> Contact</a></li>
            <li>
                <a href="/login">Sign Up / Log In
                    <span class="icon icon-signup"></span>
                </a>
            </li>
        </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    </div>
    <!-- =========================== Nav Bar End ==================== -->

    <ng-view></ng-view>

<!-- ======================= Footer ======================== -->

		<div id="footerwrap">
			<div class="container">
			</div>
		</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


	<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/js/retina.js"></script>
	<script type="text/javascript" src="assets/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="assets/js/smoothscroll.js"></script>
	<script type="text/javascript" src="assets/js/jquery-func.js"></script>
  </body>
</html>
